
.product-img {
    width: 100%;
    height: 21.2rem;
    position: relative;
    /* margin-bottom: 2rem; */
    border-radius: 0.5rem;
    background: #ffffff;
    overflow: hidden;
  }
  .product-img img {
    width: 100%;
    height: 20rem;
    object-fit: contain;
    position: absolute;
    left: 0;

    /* transform: translateX(-50%) rotate(10deg); */
  }

  @media (max-width: 768.98px) {
    .product-img {
      width: 100%;
      height: 14.5rem;
      position: relative;
      /* margin-bottom: 2rem; */
      border-radius: 0.5rem;
      background: #ffffff;
      overflow: hidden;
    }
    .product-img img {
      width: 100%;
      height: 14.5rem;
      object-fit: contain;
      position: absolute;
      left: 0;
      /* transform: translateX(-50%) rotate(10deg); */
    }
  }
  @media (max-width: 630px) {
    .product-img {
      height: 10rem;
      margin-bottom: 2rem;
    }
    .product-img img {
      width: 100%;
      height: 100%;
      /* padding: 1rem; */
    }
  }
  @media (max-width: 375px) {
    .product-img {
      height: 15rem;
    }
  }



  /* .product-thumbnail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 0.3rem;
    background-color: #000000;
    margin: 15px 0px;
  } */

  .product-thumbnail {
    background: #000000;
    border: 0.3rem solid #000000;
    padding: 0.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 1px solid #000000;
  }
  .product-thumbnail.active {
    border: 2px solid #73a9f3;
  }
  .product-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .product-down-animation {
    animation: down 0.5s ease;
  }
  @keyframes down {
    0% {
      top: -100%;
    }
    100% {
      top: 0%;
    }
  }


  #content {
    overflow: hidden;
    max-height: 50px; /* Set the initial height */
    transition: max-height 0.3s ease-out;
  }

