@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    background-color: #000000 !important;
}

:root {
    --red-color: #ff5252;
    --white-color: #ffffff;
    --black-color: #000000;
    --light-black: #292929;
}

.bg-light-black {
    background-color: #292929;
}

.custom-red-bg {
    background-color: #ff5252;
}

.text-red {
    color: #ff5252;
}

.text-secondary {
    color: #aeacac !important;
}

p {
    font-size: 15px;
}

.navbar-icon img {
    height: 20px;
    width: 20px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
    color: #ff5252 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
    transition: 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff5252 !important;
}

.user-modal .btn:focus {
    outline: 0;
    box-shadow: none;
}

.custom-btn {
    background-color: #ff5252 !important;
}

.custom-btnn {
    background-color: #ff5252;
}

.search-bar .form-control:focus {
    color: #212529;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}

.large-text {
    font-size: 64px;
}

.stylish-text h1 {
    color: var(--black-color);
    text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff;
    font-size: 54.79px;
}

.product-card {
    background-color: var(--light-black);
    border-radius: 10px;
}

.product-section {
    position: relative;
}

.red-circle {
    position: absolute;
    left: 1110px;
    top: -5px;
    z-index: -1;
}

.red-circle-2 {
    position: absolute;
    right: 1110px;
    top: 625px;
    z-index: -1;
}

.man-vaping {
    /* height: 425px;
  width: 500px; */
    position: relative;
}

.man-vaping img {
    height: 425px;
    width: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.border-box {
    position: absolute;
    height: 425px;
    width: 500px;
    border: 2px solid #ffffff;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    z-index: -2;
}

.favourite-section {
    background-image: url("../images/gradient-smoke-bg.png");
    background-position: center;
    background-size: cover;
    height: 350px;
}

.favourite-vape {
    height: 300px;
    width: 300px;
}

.favourite-vape img {
    height: 300px;
    width: 300px;
}

.new-item-box {
    border-radius: 10px;
}

.new-arrival {
    height: 200px;
    width: 100%;
}

.new-arrival img {
    height: 200px;
    width: 100%;
}

.client-boxes {
    margin: 70px 0px !important;
}

.client-box {
    border-radius: 10px;
}

.client-box-1 {
    border-radius: 10px;
}

.client-image {
    height: 200px;
    width: 200px;
    margin-top: -80px;
    margin-bottom: 10px;
}

.client-image img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.newsletter-picture img {
    height: 300px;
    width: 300px;
}

.social-icon img {
    height: 20px;
    width: 20px;
}

/* Sign In Page CSS */

.sign-in-bg {
    background-image: url("/assets/images/signin-bg.png");
    height: 100vh;
    background-size: cover;
}

.name-shadow:focus-visible {
    box-shadow: none;
}

.sign-in-blur-bg {
    background: rgba(93, 93, 93, 0.44);
    border-radius: 13px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 350px;
}

.cross-image {
    height: 33px;
    width: 33px;
}

.login-register-links:hover {
    color: dodgerblue;
}

.age-verification {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 62, 62, 0.7);
    backdrop-filter: blur(4px);
    z-index: 999;
}

.age-verification-content {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

.age-verification-modal {
    align-items: center;
    justify-content: center;
    background: rgba(62, 62, 62, 0.7);
    backdrop-filter: blur(9px);
}

.age-verification-modal-content {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

.age-verification-modal p {
    color: #ffffff;
    font-size: 15px;
    line-height: 1.7rem;
}

.age-verification-modal button {
    padding: 10px 35px;
    margin: 5px 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.age-verification-modal button:hover {
    background-color: #45a049;
}

.age-verification-modal button:last-child {
    background-color: #f44336;
}

.age-verification-modal button:last-child:hover {
    background-color: #d32f2f;
}

.modal-fileds input::placeholder {
    color: white;
}

/* Shopping Cart */

.standard-btn .btn:focus {
    outline: none;
    box-shadow: none;
}

.promo input:focus {
    box-shadow: none;
}

.product-image {
    height: 130px;
    width: 130px;
    border-radius: 10px;
}

.product-image img {
    height: 130px;
    width: 130px;
}

.counter-container {
    display: flex;
    align-items: center;
}

.digit {
    font-size: 1em;
    width: 40px;
    text-align: center;
    border: 1.5px solid #707070;
    border-radius: 5px;
    margin: 0 10px;
    color: #707070;
}

.bg-modal-custom-dark {
    background-color: #212529;
    /* max-height: 100vh; */
}

tr {
    border: none !important;
}

/* Profile Page CSS */

.profile-picture {
    height: 330px;
    width: 330px;
}

.profile-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-picture-small {
    height: 120px;
    width: 120px;
}

.product-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vape-card {
    border-radius: 10px;
    border: 0.1px solid rgb(63, 62, 62);
    position: relative;
    height: 365px;
}

.vape-card:hover {
    border: 0.1px solid #b9b9b9;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 0.5px rgb(151, 151, 151) !important;
}

.vape-product-image {
    height: 230px;
    width: 100%;
}

.vape-product-image img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.hide-text {
    position: absolute;
    bottom: -20px;
    opacity: 0;
    transition: all ease-in 0.3s;
    margin: 10px;
}

.vape-card:hover .hide-text {
    opacity: 1;
    bottom: 0;
    /* border-top: 1px solid rgb(142, 142, 142); */
}

.line {
    height: 1px;
}

.vape-card:hover .line {
    height: 1px;
    background-color: rgb(142, 142, 142);
}

.bg-black {
    background-color: #000000;
}

.background-dark {
    background-color: #212529;
}

.background-light-dark {
    background-color: #212529 !important;
}

.bg-custom-table {
    background-color: #2c2f34;
}
.custom-modal-content {
    width: 500px;
}
.dropdown:focus {
    box-shadow: none !important;
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
    box-shadow: none;
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus-visible {
    border: 0.3px solid #6c757d;
}

.slick-prev {
    filter: invert();
    object-fit: contain;
}

.slick-next {
    filter: invert();
    object-fit: contain;
    filter: brightness(100);
}

.cart-badge {
    height: 20px;
    width: 20px;
    font-size: 10px;
    right: 14px;
    top: 17px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bbbbbb;
    outline: 0;
    box-shadow: none;
}

.footer-links{
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
}

nav {
    z-index: 100;
}


 

 


.hero-section {
    padding: 50px 0; /* Adjust padding as needed */
    /* background-color: #f8f9fa; Add background color to distinguish from navbar */
    /* Other styling for hero section */
}


.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
 
  
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .large-text {
        font-size: 48px;
    }

    .stylish-text h1 {
        font-size: 38.79px;
    }

    .man-vaping {
        height: 425px;
        width: 100%;
        position: relative;
    }

    .man-vaping img {
        height: 330px;
        width: 330px;
    }

    .border-box {
        height: 325px;
        width: 325px;
    }

    .favourite-section {
        height: 450px;
    }

    .favourite-vape img {
        height: 225px;
        width: 225px;
    }

    .client-boxes {
        margin: 30px 0px;
    }

    .client-box {
        border-radius: 10px;
        margin: 50px 0px;
    }

    .client-box-1 {
        margin-bottom: 30px;
    }
    .age-verification-content {
        width: 80%;
    }
    .product-image {
        height: 70px;
        width: 70px;
    }

    .product-image img {
        height: 70px;
        width: 70px;
    }

    .product-name {
        font-size: 15px;
    }

    .mobile-hidden {
        display: none;
    }
    .custom-price-size {
        font-size: 12px;
    }
    /* .product-picture {
    height: 100px;
    width: 100px;
  } */
    .profile-picture {
        height: 350px;
        width: 350px;
    }
    .bg-custom-dark {
        height: max-content;
    }
    .bg-custom-dark {
        background-color: #212529;
        /* max-height: 70vh; */
    }
 
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .large-text {
        font-size: 41.09px;
    }

    .stylish-text h1 {
        font-size: 33.21px;
    }

    .man-vaping img {
        height: 330px;
        width: 330px;
    }

    .border-box {
        height: 330px;
        width: 330px;
    }

    .client-box {
        border-radius: 10px;
        margin: 50px 0px;
    }

    .client-box-1 {
        margin: 50px 0px;
    }
    .cart-badge {
        right: 10px;
        top: 290px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

@media (min-width: 767.98px) {
    .divider {
        display: block;
        visibility: hidden;
        font-size: 0;
    }
}

.product-img {
    width: 100%;
    height: 27.2rem;
    position: relative;
    /* margin-bottom: 2rem; */
    border-radius: 0.5rem;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img img {
    width: 100%;
    height: 20rem;
    object-fit: contain;
    position: absolute;
    left: 0;

    /* transform: translateX(-50%) rotate(10deg); */
}

@media (max-width: 768.98px) {
    .product-img {
        width: 100%;
        height: 14.5rem;
        position: relative;
        /* margin-bottom: 2rem; */
        border-radius: 0.5rem;
        background: #ffffff;
        overflow: hidden;
    }
    .product-img img {
        width: 100%;
        height: 14.5rem;
        object-fit: contain;
        position: absolute;
        left: 0;
        /* transform: translateX(-50%) rotate(10deg); */
    }
    .product-thumbnail {
        width: 70px !important;
        height: 70px !important;
        object-fit: contain;
    }
}
@media (max-width: 630px) {
    .product-img {
        height: 10rem;
        margin-bottom: 2rem;
    }
    .product-img img {
        width: 100%;
        height: 100%;
        /* padding: 1rem; */
    }
}
@media (max-width: 375px) {
    .product-img {
        height: 15rem;
    }
}

/* .product-thumbnail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 0.3rem;
    background-color: #000000;
    margin: 10px 0px;
} */

.product-thumbnail {
    background: #000000;
    border: 0.3rem solid #000000;
    padding: 0.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 1px solid #000000;
}

.product-thumbnail.active {
    border: 2px solid #73a9f3;
}

.product-thumbnail {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.product-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-down-animation {
    animation: down 0.5s ease;
}
@keyframes down {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}

#content {
    overflow: hidden;
    max-height: 50px; /* Set the initial height */
    transition: max-height 0.3s ease-out;
}

.custom-black-color {
    border: 1px solid #707070;
}

.custom-light-green {
    background-color: #03e086;
    border: 1px solid #03e086;
}

.custom-light-red {
    background-color: #ff4a4a;
    border: 1px solid #ff4a4a;
}

.custom-green {
    background-color: #2add30;
    border: 1px solid #2add30;
}

.custom-light-blue {
    background-color: #0081f1;
    border: 1px solid #0081f1;
}

.social-red-icon img {
    height: 18px;
    width: 18px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #ff5252;
    background-color: #000000;
    border-radius: 30px 30px 0px 0px;
    border-top: 1px solid #3a3838;
    border-left: 1px solid #3a3838;
    border-right: 1px solid #3a3838;
}

.nav-pills .nav-link {
    background: #1c1c1c;
    border: 0;
    border-radius: 0.25rem;
    border-radius: 30px 30px 0px 0px;
    /* border-top: 1px solid #ff0000;
  border-left: 1px solid #ff0000;
  border-right: 1px solid #ff0000; */
}

.tab-content {
    /* border-top: 1px solid #3A3838; */
    border-bottom: 1px solid #3a3838;
    border-left: 1px solid #3a3838;
    border-right: 1px solid #3a3838;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 30px;
}

/* Shop Page CSS */

.filter-bg {
    background-color: #ff5252;
    border-radius: 10px 10px 0px 0px;
}

.bg-results {
    background-color: #b7c0cf;
}

.price-heading {
    color: #304773;
}

/* .filter-input {
  box-shadow: 0px 3px 5px 1px rgba(112, 126, 156, 0.75) inset;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(112, 126, 156, 0.75) inset;
  -moz-box-shadow: 0px 3px 5px 1px rgba(112, 126, 156, 0.75) inset;
} */

.filter-name input:focus {
    box-shadow: none;
}

.newly-listed {
    box-shadow: none !important;
}

.small-size-text {
    font-size: 12px !important;
}
.small-size-text button {
    font-size: 12px !important;
}
